<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
	<property name="connection.username">subh</property>
	<property name="connection.password">subh</property>
	<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.current_session_context_class">thread</property>
	<property name="show_sql">true</property>		<!-- It show the hibernate generated sql statement -->
	<!-- <property name="hbm2ddl.auto">create</property>  -->
	<property name="hbm2ddl.auto">update</property> 
	
	<!-- JDBC conneciton pool (built-in) -->
	<!-- <property name="connection.pool_size">10</property> -->
	
	<!-- Disable the second-level cache  -->
    <!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->  
	
	<!-- configuration pool via c3p0--> 
	<property name="hibernate.c3p0.min_size">5</property>
  	<property name="hibernate.c3p0.max_size">20</property>
  	<property name="hibernate.c3p0.timeout">300</property>
  	<property name="hibernate.c3p0.max_statements">50</property>
  	<property name="hibernate.c3p0.idle_test_period">3000</property>
	
	<!-- Mapping files -->
	<mapping resource="stud/subh/hibernate/ex1/mapping/Account.hbm.xml"/>
	<mapping resource="stud/subh/hibernate/ex1/mapping/AccountAuto.hbm.xml"/>
</session-factory>
</hibernate-configuration>